/* Temas del segundo período*/

.texto{
   
    font-size: 20px;
    padding-top: 140px;
    text-align: justify;
    color: rgba(12, 0, 0, 0.582);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("f.jpg");
   
}
.titulo1{
font-size: 65px;
color: rgb(6, 0, 17);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img1{
height: 260px;
width: 300px;
background-image: url(Componentes\ de\ un\ circuito\ eléctrico.jpg);
float: none;
background-repeat: no-repeat;

}

.subtitulo{
font-size: 30px;
color: black;
text-align: left;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.img2{
    height: 200px;
    width: 300px;
    background-image: url(triangulo\ de\ pauling.jpg);
    float: none;
    background-repeat: no-repeat;
    
    
    }

.img3{
        height: 300px;
        width: 500px;
        background-image: url(distribucion\ nitrogeno1.jpg);
        float: none;
        background-repeat: no-repeat;
        
        
        }
   
.img4{
        height: 250px;
        width: 500px;
        background-image: url(configuracion\ electronica\ caja\ o\ celda.jpg);
        float: none;
        background-repeat: no-repeat;
            
            
        }

.img5{
            height: 350px;
            width: 500px;
            background-image: url(trastorno\ de\ alimentacion.jpg);
            float: none;
            background-repeat: no-repeat;
                
                
        }

.img6{
            height: 350px;
            width: 500px;
            background-image: url(ANOREXIA.jpg);
            float: none;
            background-repeat: no-repeat;
                    
                    
        }   

.img7{
            height: 250px;
            width: 500px;
            background-image: url(bulimiaa.jpg);
            float: none;
            background-repeat: no-repeat;
                        
                        
        }            

.img8{
            height: 350px;
            width: 500px;
            background-image: url(ali\ equilibrada.jpg);
            float: none;
            background-repeat: no-repeat;
                            
                            
        }            

.img9{
            height: 400px;
            width: 600px;
            background-image: url(Hidratacion\ adecuadaa.jpg);
            float: none;
            background-repeat: no-repeat;
                                
                                
        }         
                                
.img10{
            height: 320px;
            width: 500px;
            background-image: url(ejercicio\ regular.jpg);
            float: none;
            background-repeat: no-repeat;
                                    
                                    
        }    
                                    
.img11{
            height: 320px;
            width: 500px;
            background-image: url(dormir\ bieen.jpg);
            float: none;
            background-repeat: no-repeat;
                                        
                                        
        }            

.img12{
            height: 260px;
            width: 500px;
            background-image: url(meditacion.jpg);
            float: none;
            background-repeat: no-repeat;
                                            
                                            
        }     
                                            
.img13{
            height: 270px;
            width: 500px;
            background-image: url(evitar\ consumo\ de\ alcohol\ y\ tabaco.jpg);
            float: none;
            background-repeat: no-repeat;
                                                
                                                
        }     
                                                
.img14{
            height: 340px;
            width: 500px;
            background-image: url(mantener\ una\ buena\ higiene\ personal.jpg);
            float: none;
            background-repeat: no-repeat;
                                                    
                                                    
        }    
                                                    
.img15{
            height: 210px;
            width: 500px;
            background-image: url(controlar\ tiempo\ frente\ pantallas.jpg);
            float: none;
            background-repeat: no-repeat;
                                                        
                                                        
        }           
        
.img16{
            height: 300px;
            width: 500px;
            background-image: url(chequeo\ medico.jpg);
            float: none;
            background-repeat: no-repeat;
                                                            
                                                            
        }            

.img17{
            height: 300px;
            width: 500px;
            background-image: url(socializar.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                
                                                                
        }            

.img18{
            height: 300px;
            width: 600px;
            background-image: url(actividades\ creativas.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                    
                                                                    
        }            

.img19{
            height: 280px;
            width: 500px;
            background-image: url(manejo.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        } 

        .img20{
            height: 300px;
            width: 700px;
            background-image: url(Consumo\ excesivo\ de\ alimentos\ procesados\ y\ azúcares.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }
        
        .img21{
            height: 170px;
            width: 700px;
            background-image: url(sedentarismo.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img22{
            height: 375px;
            width: 500px;
            background-image: url(privacion\ del\ sueño.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img23{
            height: 190px;
            width: 500px;
            background-image: url(Consumo\ de\ alcohol\ en\ exceso.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img24{
            height: 250px;
            width: 600px;
            background-image: url(fumar.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img25{
            height: 280px;
            width: 500px;
            background-image: url(saltarse\ comidas.png);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img26{
            height: 180px;
            width: 500px;
            background-image: url(comer\ en\ exceso.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img27{
            height: 210px;
            width: 500px;
            background-image: url(Abuso\ de\ cafeína.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img28{
            height: 280px;
            width: 500px;
            background-image: url(Mala\ postura.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img29{
            height: 280px;
            width: 500px;
            background-image: url(Automedicación.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img30{
            height: 210px;
            width: 500px;
            background-image: url(Uso\ excesivo\ de\ dispositivos\ electrónicos.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img31{
            height: 210px;
            width: 500px;
            background-image: url(Negación\ de\ problemas\ de\ salud\ mental.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img32{
            height: 210px;
            width: 500px;
            background-image: url(simbolos.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img33{
            height: 310px;
            width: 500px;
            background-image: url(tipos\ de\ circuitos.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img34{
            height: 490px;
            width: 500px;
            background-image: url(cerrado\ y\ abierto.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img35{
            height: 240px;
            width: 500px;
            background-image: url(serie.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img36{
            height: 210px;
            width: 500px;
            background-image: url(lamparas\ en\ serie.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img37{
            height: 150px;
            width: 500px;
            background-image: url(circuito\ en\ paralelo.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img38{
            height: 270px;
            width: 500px;
            background-image: url(lamparas\ en\ paralelo.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img39{
            height: 200px;
            width: 500px;
            background-image: url(serie\ y\ paralelo.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img40{
            height: 300px;
            width: 500px;
            background-image: url(mixto.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img41{
            height: 400px;
            width: 500px;
            background-image: url(alterna.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img42{
            height: 270px;
            width: 500px;
            background-image: url(corto\ circuito.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .subtitulo2{

            font-size: 25px;
            color: black;
            text-align: left;
            font-family: Georgia, 'Times New Roman', Times, serif;




        }

        .img43{
            height: 350px;
            width: 500px;
            background-image: url(ciclo\ menstrual.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img44{
            height: 240px;
            width: 500px;
            background-image: url(PRIMER\ FASE\ DEL\ CICLO\ MENSTRUAL.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img45{
            height: 300px;
            width: 500px;
            background-image: url(SEGUNDA\ FASE\ DEL\ CICLO\ MENSTRUAL.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img46{
            height: 260px;
            width: 700px;
            background-image: url(TERCERA\ FASE\ DEL\ CICLO\ MENSTRUAL.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img47{
            height: 230px;
            width: 500px;
            background-image: url(CUARTA\ FASE\ DEL\ CICLO\ MENSTRUAL.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img48{
            height: 400px;
            width: 600px;
            background-image: url(excel.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img49{
            height: 250px;
            width: 600px;
            background-image: url(excel\ 3.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img50{
            height: 250px;
            width: 700px;
            background-image: url(excel\ 2.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img51{
            height: 250px;
            width: 700px;
            background-image: url(excel\ 6.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img52{
            height: 340px;
            width: 700px;
            background-image: url(excel\ 4.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img53{
            height: 240px;
            width: 700px;
            background-image: url(excel\ 5.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img54{
            height: 340px;
            width: 700px;
            background-image: url(excel\ 7.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img55{
            height: 20px;
            width: 700px;
            background-image: url(cuadrado\ de\ un\ binomio\ suma\ y\ resta\ 1.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img56{
            height: 20px;
            width: 700px;
            background-image: url(cuadrado\ de\ un\ binomio\ suma\ y\ resta\ 2.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img57{
            height: 20px;
            width: 700px;
            background-image: url(cuadrado\ de\ un\ binomio\ suma\ y\ resta\ 3.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img58{
            height: 20px;
            width: 700px;
            background-image: url(cuadrado\ de\ un\ binomio\ suma\ y\ resta\ 4.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img59{
            height: 20px;
            width: 700px;
            background-image: url(cuadrado\ de\ un\ binomio\ suma\ y\ resta\ 5.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img60{
            height: 20px;
            width: 700px;
            background-image: url(cuadrado\ de\ un\ binomio\ suma\ y\ resta\ 6.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img61{
            height: 20px;
            width: 700px;
            background-image: url(cuadrado\ de\ un\ binomio\ suma\ y\ resta\ 7.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img62{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 1.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img63{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 2.jpg );
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img64{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 3.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img65{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 4.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img66{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 5.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img67{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 6.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img68{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 7.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img69{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 8.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img70{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 9.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img71{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 10.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img72{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 11.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img73{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 12.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img74{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 13.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img75{
            height: 30px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 14.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img76{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 15.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img77{
            height: 20px;
            width: 700px;
            background-image: url(diferencia\ de\ cuadrados\ 16.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img78{
            height: 500px;
            width: 700px;
            background-image: url(pantallazo\ quimia.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img79{
            height: 500px;
            width: 700px;
            background-image: url(space\ soccer.jpg);
            float: none;
            background-repeat: no-repeat;
                                                                        
                                                                        
        }

        .img80{
            height: 500px;
            width: 700px;
            background-image: url(temas\ image.jpg);
            float: none;
            background-repeat: no-repeat;
                                                           
                                                                        
        }
        