/* Temas del segundo período*/

.texto{
   
    font-size: 20px;
    padding-top: 140px;
    text-align: justify;
    color: rgba(12, 0, 0, 0.582);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("ocean.jpg");
    background-repeat: no-repeat; 
}
.titulo1{
font-size: 65px;
color: rgb(6, 0, 17);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img1{
height: 300px;
width: 300px;
background-image: url(ocean.jpg);
float: left;


}

.subtitulo{
font-size: 30px;
color: black;
text-align: left;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.img2{
    height: 200px;
    width: 300px;
    background-image: url(triangulo\ de\ pauling.jpg);
    float: none;
    background-repeat: no-repeat;
    
    
    }

.img3{
        height: 300px;
        width: 500px;
        background-image: url(distribucion\ nitrogeno1.jpg);
        float: none;
        background-repeat: no-repeat;
        
        
        }
    