/* Temas del segundo período*/

.texto{
   
    font-size: 20px;
    padding-top: 140px;
    text-align: justify;
    color: rgba(12, 0, 0, 0.582);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("marmol.jpg");
   
}
.titulo1{
font-size: 65px;
color: rgb(6, 0, 17);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img1{
height: 300px;
width: 300px;
background-image: url(ocean.jpg);
float: left;


}

.subtitulo{
font-size: 30px;
color: black;
text-align: left;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.img2{
    height: 200px;
    width: 300px;
    background-image: url(triangulo\ de\ pauling.jpg);
    float: none;
    background-repeat: no-repeat;
    
    
    }

.img3{
        height: 300px;
        width: 500px;
        background-image: url(distribucion\ nitrogeno1.jpg);
        float: none;
        background-repeat: no-repeat;
        
        
        }
   
.img4{
        height: 250px;
        width: 500px;
        background-image: url(configuracion\ electronica\ caja\ o\ celda.jpg);
        float: none;
        background-repeat: no-repeat;
            
            
        }

.img5{
            height: 350px;
            width: 500px;
            background-image: url(trastorno\ de\ alimentacion.jpg);
            float: none;
            background-repeat: no-repeat;
                
                
        }

.img6{
            height: 350px;
            width: 500px;
            background-image: url(ANOREXIA.jpg);
            float: none;
            background-repeat: no-repeat;
                    
                    
        }   

.img7{
            height: 250px;
            width: 500px;
            background-image: url(bulimiaa.jpg);
            float: none;
            background-repeat: no-repeat;
                        
                        
        }            

.img8{
            height: 350px;
            width: 500px;
            background-image: url(ali\ equilibrada.jpg);
            float: none;
            background-repeat: no-repeat;
                            
                            
        }            

.img9{
            height: 400px;
            width: 600px;
            background-image: url(Hidratacion\ adecuadaa.jpg);
            float: none;
            background-repeat: no-repeat;
                                
                                
        }         
                                
.img10{
            height: 320px;
            width: 500px;
            background-image: url(ejercicio\ regular.jpg);
            float: none;
            background-repeat: no-repeat;
                                    
                                    
        }    
                                    
                                    .img11{
                                        height: 320px;
                                        width: 500px;
                                        background-image: url(dormir\ bieen.jpg);
                                        float: none;
                                             background-repeat: no-repeat;
                                        
                                        
                                        }            

                                        .img12{
                                            height: 260px;
                                            width: 500px;
                                            background-image: url(meditacion.jpg);
                                            float: none;
                                                 background-repeat: no-repeat;
                                            
                                            
                                            }     
                                            
                                            .img13{
                                                height: 270px;
                                                width: 500px;
                                                background-image: url(evitar\ consumo\ de\ alcohol\ y\ tabaco.jpg);
                                                float: none;
                                                     background-repeat: no-repeat;
                                                
                                                
                                                }     
                                                
                                                .img14{
                                                    height: 340px;
                                                    width: 500px;
                                                    background-image: url(mantener\ una\ buena\ higiene\ personal.jpg);
                                                    float: none;
                                                         background-repeat: no-repeat;
                                                    
                                                    
                                                    }    
                                                    
                                                    .img15{
                                                        height: 210px;
                                                        width: 500px;
                                                        background-image: url(controlar\ tiempo\ frente\ pantallas.jpg);
                                                        float: none;
                                                             background-repeat: no-repeat;
                                                        
                                                        
                                                        }            

                                                        .img16{
                                                            height: 300px;
                                                            width: 500px;
                                                            background-image: url(chequeo\ medico.jpg);
                                                            float: none;
                                                                 background-repeat: no-repeat;
                                                            
                                                            
                                                            }            

                                                            .img17{
                                                                height: 300px;
                                                                width: 500px;
                                                                background-image: url(socializar.jpg);
                                                                float: none;
                                                                     background-repeat: no-repeat;
                                                                
                                                                
                                                                }            

                                                                .img18{
                                                                    height: 300px;
                                                                    width: 600px;
                                                                    background-image: url(actividades\ creativas.jpg);
                                                                    float: none;
                                                                         background-repeat: no-repeat;
                                                                    
                                                                    
                                                                    }            

                                                                    .img19{
                                                                        height: 280px;
                                                                        width: 500px;
                                                                        background-image: url(manejo.jpg);
                                                                        float: none;
                                                                             background-repeat: no-repeat;
                                                                        
                                                                        
                                                                        }            
                
            
        